.col1 {
  width: 100%;
  padding: 2rem 3rem;
  height: 90vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0c061a;
  margin: 0;
}

.col1 h2 {
  font-size: 50px;
  max-width: 700px;
}

.col1 p {
  font-size: 20px;
  max-width: 500px;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/dog.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 41em;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: -23px;
  left: -23px;
  right: -23px;
  bottom: -23px;
  background: inherit;
  filter: blur(13px);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.form {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 80%;
  color: #4317a1;
}

.selected,
.selected:hover {
  background-color: #646cff;
  color: white;
}

.button {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #5f3bf3;
  font-weight: 500;
}

.button:hover {
  background-color: #7454f3;
}

.menuItem:focus {
  outline-style: none;
  border: none;
}

.submittedValues {
  background-color: rgba(255, 255, 255, 0.87);
  padding: 1rem;
  border-radius: 10px;
  color: #0c061a;
}

.dropdownItem {
  color: #211835;
}

.dropdownItem.selected {
  background-color: #646cff;
  color: white;
}

.addOn {
  background-color: rgba(255, 255, 255, 0.87);
  color: #4317a1;
  width: 10%;
  border-radius: 6px;
  padding: 1.35rem 0;
  margin: 0;
}

.modal {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #5f3bf3;
  font-weight: 500;
}

.arrowContainer {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  animation: arrowAnimation 0.5s ease-in-out infinite alternate;
}

@keyframes arrowAnimation {
  0% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, -10px);
  }
}

.arrow {
  position: relative;
  display: block;
  width: 5rem; /* Adjust the width of the arrow as needed */
  height: 5rem; /* Adjust the height of the arrow as needed */
  margin: 0 auto;
  cursor: pointer;
  color: #646cff;
}

.bigContainer {
  min-height: calc(100vh - calc(var(--nav-height) + 8rem));
}

.menu {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.modelItem {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: #222222;
  justify-content: space-between;
}

.modelItem:hover {
  background-color: #ececec;
  color: #222222;
}

.modelSelectedItem {
  background-color: #ececec;
  color: #222222;
}

.menu {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.menuItem {
  background-color: transparent !important;
  cursor: default;
}

.menuItem:hover,
.menuItem:focus {
  background-color: transparent !important;
  cursor: default;
  outline: none !important;
  border: none !important;
}

@media (max-width: 768px) {
  .col1 h2 {
    font-size: 22px;
    max-width: 400px;
  }

  .col1 p {
    font-size: 14px;
    max-width: 300px;
  }

  .image {
    height: 28rem;
  }
}
